env: "local" # dev, prod
storage_path: "./storage/task.db"
server:
  address: "localhost"
  port: 8002
  timeout: 4s
  idle_timeout: 60s
email:
  username: "test"
  password: "pass"
  host: "test_host"
  port: "test_port"
  from: "test_from"
  is_tls: false
kafka:
  servers:
    - "localhost:9092"